@media (max-width: 768px) {
  .solid-header h1 {
    font-size: 9.11vw !important; } }

body {
  min-width: 400px;
  font-family: "PT SANS"; }

.page-container {
  position: relative;
  top: 83px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 600px; }

.solid-header {
  position: relative;
  width: fit-content;
  height: fit-content; }

.solid-header:after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 87px;
  height: 6px;
  background-color: #003448;
  content: ""; }

.solid-header h1 {
  font-size: 70px;
  width: fit-content;
  margin: 0 !important;
  font-weight: 700;
  letter-spacing: 0.2em; }

.solid-subheader {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 40px; }

.solid-subheader p {
  font-weight: 700;
  font-size: 21px;
  text-align: center; }

#background-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#background-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: bottom;
  object-fit: cover;
  filter: grayscale(0.1) contrast(0.2) brightness(1.65); }

@media (max-width: 768px) {
  .blue-separator > div:first-child {
    font-size: 1em !important; }
  .blue-separator > div:last-child {
    font-size: 1.2em !important; }
  #home-headline {
    font-size: 2.5em !important; }
  #home-headline .sub-header {
    position: absolute;
    right: 0;
    transform: skewX(-10deg); }
  .section-previews {
    flex-direction: column !important;
    align-items: center !important; }
  .section-previews .column-card {
    width: 80% !important;
    margin-bottom: 30px; }
  .achievement-card {
    margin-bottom: 50px; }
  .achievement-icon {
    width: 50% !important;
    margin-top: 5%; }
  .achievement-details {
    width: 50% !important; }
  .achievement-details .achievement-description {
    width: 90% !important; } }

#home-image-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 500px; }

#home-page-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 50% 35%;
  filter: brightness(0.4) saturate(0.8) contrast(0.9); }

#home-headline {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8.5em;
  color: white;
  font-family: 'Oswald', 'Arial';
  font-size: 3.5em;
  font-weight: 400; }

#home-headline hr {
  height: 3px;
  background: white;
  margin-top: 6px;
  margin-bottom: -4px; }

#home-headline .sub-header {
  position: absolute;
  right: 0;
  transform: skewX(-10deg); }

.lower-fold-sections {
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%; }

.blue-separator {
  display: flex;
  position: relative;
  width: 100%;
  height: 153px;
  background-color: #003448;
  color: white;
  font-family: 'Poppins', 'Arial';
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.blue-separator > div:first-child {
  font-size: 1.5em;
  width: fit-content; }

.blue-separator > div:last-child {
  font-size: 2.5em;
  width: fit-content; }

.spaced-letters {
  letter-spacing: 0.5vw; }

.section-previews {
  display: flex;
  position: relative;
  height: fit-content;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 40px; }

.section-previews .column-card {
  width: 23%;
  padding: 0 30px;
  background-color: #003448;
  color: white;
  text-align: center; }

.section-previews .column-card.light-card {
  color: #003448;
  background-color: #d8dbe2; }

.section-previews h4 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 400; }

.section-previews a {
  color: inherit;
  text-decoration: underline !important; }

.why-we-are-different {
  display: flex;
  position: relative;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10%;
  background-color: #003448;
  color: white;
  font-family: "Poppins", "Arial";
  font-weight: 400; }

.why-we-are-different h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 50px; }

.why-we-are-different .achievement-card {
  display: flex;
  height: 250px;
  justify-content: center; }

.why-we-are-different .achievement-card.achievement-card-reverse {
  flex-direction: row-reverse;
  text-align: right; }

.why-we-are-different .achievement-card.achievement-card-reverse .achievement-icon svg {
  left: 10px;
  fill: #d8dbe2 !important; }

.why-we-are-different .achievement-card.achievement-card-reverse .achievement-icon svg:last-child {
  transform: translate(50%, 50%);
  fill: #003448 !important; }

.why-we-are-different .achievement-icon {
  position: relative;
  fill: #4ecdc4;
  stroke: #003448;
  fill-opacity: 1;
  width: 40%;
  height: 100%; }

.why-we-are-different .achievement-icon svg {
  position: absolute;
  right: 10px;
  height: 200;
  width: 200; }

.why-we-are-different .achievement-icon svg:last-child {
  fill: #003448 !important;
  stroke: #003448 !important;
  transform: translate(-50%, 50%); }

.why-we-are-different .achievement-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", "Arial";
  width: 40%;
  padding: 0 0 0 10px;
  text-align: center; }

.why-we-are-different .achievement-details h4 {
  font-size: 16px;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 2px; }

.why-we-are-different .achievement-details .achievement-description {
  font-size: 15px;
  width: 80%;
  line-height: 1.5;
  font-weight: 200;
  font-family: "Raleway", "Poppins", "Arial"; }

.what-people-say {
  height: fit-content;
  padding: 30px 0;
  background-color: #d8dbe2;
  color: white;
  font-family: "Poppins", "Arial";
  font-weight: 400; }

.what-people-say .review-previews {
  justify-content: center; }

.what-people-say h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 20px;
  margin-right: 20px; }

.what-people-say .review-card {
  position: relative;
  padding: 0;
  width: 28%;
  height: 375px;
  margin: 12px; }

.what-people-say .review-card .card-image-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.what-people-say .review-card .card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 35%;
  opacity: 0.2; }

.what-people-say .review-card .review-card-description {
  width: 100%;
  height: 100%;
  background-color: #045184; }

.what-people-say .review-card .review-card-description svg {
  fill: #4ecdc4;
  transform: rotate(180deg) translateY(-260%);
  width: 30px; }

.what-people-say .review-card .review-card-description .review-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-family: "Raleway", "Poppins", "Arial";
  font-weight: 300;
  font-style: italic;
  line-height: 2; }

.what-people-say .review-card .review-card-description .review-signature {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  color: #4ecdc4;
  font-family: "Arial"; }

.what-people-say .review-card .review-card-description .review-signature h5 {
  font-size: 20px;
  font-weight: 600;
  margin: 0; }

.what-people-say .review-card .review-card-description .review-signature p {
  font-weight: 600;
  margin: 0;
  font-style: italic; }
