@import './Shared.scss';

@media (max-width: 768px) {
	.product-item {
		width: 74.35vw !important;
		margin: inherit 17.6vw !important;

		.product-item-image-container {
			width: 23.47vw !important;
			height: 18.56vw !important;
		}

		h1 {
			font-size: 5.5vw !important;
		}

		p {
			width: 80% !important;
		}
	}
}

#products-content {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	color: $saddleBlue;
	width: 90%;
	padding-top: 53px;
	margin: auto;

	& .solid-header {
		margin-top: 70px;
	}
}

#products-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 50%;
	max-width: 650px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 140px;

	& .product-item {
		display: flex;
		flex-direction: column;
		width: 571px;
		height: 206px;
		background-color: $saddleBlue;
		color: white;
		border-radius: 4px;
		box-shadow: 0 0 4px black;

		& .product-item-image-container {
			position: absolute;
			display: block;
			width: 134px;
			height: 106px;
			transform: translate(-25%, -25%);

			img {
				width: 100%;
				height: 100%;
			}
		}

		& h1 {
			color: $lightGray;
			text-align: center;
			font-weight: 500;
			margin-top: 10px;
			margin-bottom: 0;
		}

		& p {
			width: 80%;
			margin: auto;
			text-align: center;
			font-size: 18px;
			font-weight: 500;
		}

		& button {
			margin: auto;
			background-color: white;
			border: 0;
			width: 135px;
			height: 30px;
			border-radius: 5px;
			color: rgb(0, 158, 216);
			font-weight: 600;
			margin-top: 15px;
			margin-bottom: 25px;
			cursor: pointer;

			& a {
				text-decoration: none;
				color: inherit;
			}
		}
	}

	& .product-item:first-child {
		margin-bottom: 60px;
	}

	& .product-item:last-child p {
		width: 40%;
		font-style: italic;
	}
}

#products-background {
	position: absolute !important;
	top: 0;
	width: 100%;
	bottom: 100%;

	& img {
		object-position: top;
	}
}
